/.github export-ignore
/benchmarks export-ignore
/docs export-ignore
/tests export-ignore
pint.json export-ignore
phpstan.neon export-ignore
phpunit.xml export-ignore
CONTRIBUTING.md export-ignore
/web export-ignore